form(method="post" action=Url target="_blank" id="form")
    input(type="hidden" name="Seal", value=Seal)
    input(type="hidden" name="InterfaceVersion", value=InterfaceVersion)
    input(type="hidden" name="Data", value=Data)

script.
    document.getElementById("form").submit()