nav
    font-size 12pt
    ul
        position static
        display inline-block
        float left
        font-size 10pt
aside.register, aside.login
    top 0
    bottom 0
    right 0
    left 0
    width auto