#Posts > div > material-content.loader
    left 0
article.post
    &, &:nth-child(2n), &:nth-child(2n + 1)
        width calc(100% - 2px) !important
        max-width calc(100% - 2px) !important
        margin-left 0 !important
        margin-right 0 !important