@media (max-width: 700px)
{
    @import "variables"
    @import "grid"
    @import "article"
    @import "studentguide"
}
@media (max-height: 700px)
{
    @import "variables"
    @import "grid-small"
}