section#Home 
    .grid.nogrow
        > article.post
            height 100% !important
            width 100% !important
        .grid.row2 > article
            width 100% !important
            min-width 100% !important
            height 100% !important
        &.active
            > article.post, .grid.row2 > article
                width 0 !important
                min-width 0 !important
                height 0 !important
                min-height 0 !important
                &.active
                    width 100% !important
                    height 100% !important
                    min-width 100% !important
                    min-height 100% !important