> aside
    width (asidewidth / 3 * 2)
    img 
        width (asidewidth / 2) - 30px
        padding 30px
> .container > section
    left (asidewidth / 3 * 2) + 50

nav#sg
    left (asidewidth / 3 * 2) + 50