section#Home
    article
        &.main
            right 0
            bottom homesmall

        &:not(.main)
            
            bottom 0 !important
            top homebig !important
            left 0
            right 0

            &:nth-of-type(2)
                right 50%
                border-bottom none
                border-right solid 1px cdarkgray

            &:last-of-type
                left 50%
