@import "home"

.eventsfab
    &.hidden
        opacity 0
        z-index -1
    transition opacity 1s timing

.grid
    display flex
    height 100%
    width 100%
    &, &.horizontal
        flex-flow column wrap
        overflow-x auto
        overflow-y hidden
    .next
        flex-grow 1
        position relative
        > .wrapper
            absfill()
    &.vertical
        flex-flow row wrap
        overflow-x hidden
        overflow-y auto
        article
            height 100% !important
            min-height 100% !important
            width articlewidth !important
            min-width articlewidth !important
    &.horizontal article
        height articlewidth !important
        min-height articlewidth !important
        width 100% !important
        min-width 100% !important
        
    article
        width articlewidth
        min-width articlewidth
        float left
        flex-grow 1
        position relative
        transition all 1s timing
        overflow hidden
        .content
            z-index -1
            opacity 0
            border-right solid 1px clightgray
                
        h1, nav
            border-right solid 1px clightgray
            border-bottom solid 1px clightgray
            
        &:first-child
            border-top none
            
        .wrapper
            position relative
            width 100%
            height 100%
            tp=5px
            lp=10px
            padding tp lp
            background-color black
            nav
                transition all 0.5s timing
                position absolute
                bottom 0
                left 0
                right 0
                padding tp lp
                background white
                height asideheight
                border-bottom solid 1px clightgray
            h1
                transition all 0.5s timing
                text-align center
                height asideheight
                line-height asideheight
                padding 0
                margin 0
                position absolute
                top 0
                left 0
                right 0
                background white
                border-bottom solid 1px clightgray
                z-index 2
                
            > a > img
                position absolute
                z-index 2
                top asideheight
                bottom asideheight
                left 0
                min-width 100%
                unit=100%
                hw=(asideheight * 2)px
                height s('calc(%s - %s)', unit, hw)
                opacity 0.8

            .content, .brief
                position absolute
                top asideheight 
                bottom asideheight
                left 0
                right 0
                padding 10px
                overflow-x hidden
                overflow-y auto
                transition all 0.5s timing
                max-width 1000px
                margin 0 auto
                opacity 0
                z-index -1
                background white
                &.brief
                    opacity 1
                    z-index 1
                  
        &.post
            overflow hidden
            figure, figcaption
                position absolute
                top 0
                bottom 0
                left 0
                right 0
                margin 0
                padding 0

            figure
                z-index 1
                background black
                .focuspoint
                    width 100%
                    height 100%
                    img
                        width auto
                        height 100%
                        min-height 100%
                        max-height 100%
                        transition all 0.3s timing

            figcaption
                z-index 2
                top auto
                height articlefigcaptionheight
                padding 5px 15px
                background rgba(0, 0, 0, 0.6)
                color white
            
    &.row2 article
        height 50% !important
        min-height 50% !important
    &.row3 article
        height 33% !important
        min-height 33% !important
    &.row4 article
        height 25% !important
        min-height 25% !important
    &.noflow
        overflow hidden
    &.nogrow > article
        flex-grow 0
    &.active article
        width 0 !important
        height 0 !important
        min-width 0 !important
        min-height 0 !important
        opacity 0
        &.active 
            v1=100%
            v2=articlemargin * 2
            width s("calc(%s - %s)", v1, v2) !important
            height s("calc(%s - %s)", v1, v2) !important
            min-width s("calc(%s - %s)", v1, v2) !important
            min-height s("calc(%s - %s)", v1, v2) !important
            margin articlemargin
            opacity 1
            wfz1()
            .content
                opacity 1
                z-index 1
            .brief
                opacity 0
                z-index -1
                
article.event
    .brief
        z-index -1
    &.active .wrapper 
        toppercent=20%
        > a > img
            height auto
            top auto
            bottom (100% - toppercent)
            width 100%
            transition all 0.5s timing
            z-index 1
            left 0px
            opacity 0.8
        .content
            top toppercent
