@import "home"

article
    &:not(.post)
        &:first-child
            border-top none
        .wrapper
            position relative
            width 100%
            height 100%
            tp=5px
            lp=10px
            padding tp lp
            nav
                transition all 0.5s timing
                position absolute
                bottom 0
                left 0
                right 0
                padding tp lp
                background white
                height asideheight
                border-bottom solid 1px clightgray
            h1
                transition all 0.5s timing
                text-align center
                height asideheight
                line-height asideheight
                padding 0
                margin 0
                position absolute
                top 0
                left 0
                right 0
                border-bottom solid 1px clightgray

            .content, .brief
                position absolute
                top asideheight 
                bottom asideheight
                left 0
                right 0
                padding 10px
                overflow-x hidden
                overflow-y auto
                transition all 0.5s timing
                max-width 1000px
                margin 0 auto
    &.post
        overflow hidden
        figure, figcaption
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            margin 0
            padding 0

        figure
            z-index 1
            background black
            .focuspoint
                width 100%
                height 100%
                img
                    width auto
                    height 100%
                    min-height 100%
                    max-height 100%
                    transition all 0.3s timing

        figcaption
            z-index 2
            top auto
            height articlefigcaptionheight
            padding 5px 15px
            background rgba(0, 0, 0, 0.6)
            color white
