@import "home"

.grid
    display flex
    height 100%
    width 100%
    &, &.horizontal
        flex-flow column wrap
        overflow-x auto
        overflow-y hidden
    .next
        flex-grow 1
        position relative
        > .wrapper
            absfill()
    &.vertical
        flex-flow row wrap
        overflow-x hidden
        overflow-y auto
    article:not(.post)
        height 100% !important
        min-height 100% !important
        width articlewidth
        min-width articlewidth
        float left
        flex-grow 1
        position relative
        &.active + *
            z-index 0
        .wrapper
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            z-index 1
            width auto 
            height auto
            .content
                z-index -1
                opacity 0
            &.animate, &.active
                position fixed
                z-index 9
                wfz1()
                .content
                    z-index 1
                    opacity 1
                .brief
                    z-index -1
                    opacity 0
            &.active
                top 0 !important
                bottom 0 !important
                left 0 !important
                right 0 !important
                width auto !important
                height auto !important
                transition all 1s timing
                
                
        h1, nav
            border-right solid 1px clightgray
            border-bottom solid 1px clightgray
            
    &.row2 article:not(.post)
        height 50% !important
        min-height 50% !important
    &.row3 article:not(.post)
        height 33% !important
        min-height 33% !important
    &.row4 article:not(.post)
        height 25% !important
        min-height 25% !important
    &.noflow
        overflow hidden
    &.nogrow > article
        flex-grow 0

article
    &:not(.post)
        &:first-child
            border-top none
        .wrapper
            position relative
            width 100%
            height 100%
            tp=5px
            lp=10px
            padding tp lp
            nav
                transition all 0.5s timing
                position absolute
                bottom 0
                left 0
                right 0
                padding tp lp
                background white
                height asideheight
                border-bottom solid 1px clightgray
            h1
                transition all 0.5s timing
                text-align center
                height asideheight
                line-height asideheight
                padding 0
                margin 0
                position absolute
                top 0
                left 0
                right 0
                background white
                border-bottom solid 1px clightgray

            .content, .brief
                position absolute
                top asideheight 
                bottom asideheight
                left 0
                right 0
                padding 10px
                overflow-x hidden
                overflow-y auto
                transition all 0.5s timing
                max-width 1000px
                margin 0 auto
    &.post
        overflow hidden
        figure, figcaption
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            margin 0
            padding 0

        figure
            z-index 1
            background black
            .focuspoint
                width 100%
                height 100%
                img
                    width auto
                    height 100%
                    min-height 100%
                    max-height 100%
                    transition all 0.3s timing

        figcaption
            z-index 2
            top auto
            height articlefigcaptionheight
            padding 5px 15px
            background rgba(0, 0, 0, 0.6)
            color white
