> .container > section
        position fixed
        top asideheight
        bottom 0
        left 0
        right 0
        transition opacity 0.5s ease-in-out
        opacity 0
        text-align center
        overflow-y auto
        overflow-x visible
        & > *
            text-align left
        &.active
            transform none
            opacity 1
            & ~ section
                transform translateY(200%)
        nav.phonemenu
            display none 
> .shade
    position fixed
    top asideheight
    bottom 0
    right 0
    left 0
    opacity 0
    z-index -1
    img 
        position absolute
        bottom 25px
        right 25px
        z-index 2

    .darkness
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background white
        opacity 0.7
        z-index 1