section#Home
    .grid.nogrow
        > article.post
            width homebig !important
        .grid.row2 > article
            width auto !important
        &.active
            article
                width 0 !important
                &.active
                    width 100% !important