asidewidth=250px
asidelistheight=25px
articleheight=400px
articletextheight=75px
sgnavheight=45px
sgdropwidth=200px
phonetopgap=35px

brandbluecolor=rgb(66, 156, 214)

adminnavheight=45px
adminloginwidth=550px
adminloginheight=255px
adminregisterheight=500px

adminlogininputheight=adminloginheight / 4

baseinputheight=35px

asideheight=45px
asidenavheight=300px
asidenavwidth=45%

articlefigcaptionheight=75px

articlewidth=300px
articlemargin=0px

homebig=70%
homesmall=30%

timing=cubic-bezier(0.215, 0.61, 0.355, 1)

cblue=#5677fc
cred=#e51c23
cgreen=#8bc34a
clightgray=#eee
cmediumgray=#bdbdbd
cdarkgray=#757575

cfotgreen=#00796b
cfotgreenlight=#00897b

wfz1()
    box-shadow:0 2px 5px 0 rgba(0,0,0,.26)

wfz2()
    box-shadow:0 8px 17px rgba(0,0,0,.2)
 
absfill()
    position absolute
    top 0
    bottom 0
    right 0
    left 0   
    
forcefull()
    width 100% !important
    height 100% !important
    min-width 100% !important
    min-height 100% !important

