article.main.post(ng-style="getHeight()")
    figure
        .focuspoint.home(id="fp-nextevent" data-focus-x="0" data-focus-y="-0.2")
            img(id='image-nextevent' src='http://www.douglasstafford.com/blog/wp-content/uploads/2013/03/Peugeot-rally-event-2.jpg' ng-load="loadImage('nextevent')")
    a(href="http://facebook.com/fishontoast" target="_blank")
        figcaption
            h1 Next Event

article(ng-repeat="article in data.asides" id="{{article.id}}" ng-class="{active: data.active == article.id}" ng-style="getHeight()")
    .wrapper
        h1 {{article.title}}
        .brief(load-content-for="article.id[0].toUpperCase() + article.id.substr(1) + 'Brief'" is-static is-implemented)
        .content(load-content-for="article.id[0].toUpperCase() + article.id.substr(1)")

        nav
            material-button.right(ng-href="/{{article.id}}" ng-if="data.active === 0 || data.active !== article.id") Read More
            material-button.right(ng-click="toggle(article.id)" ng-if="data.active !== 0 && data.active === article.id") Close
