.grid.nogrow(ng-class="{vertical: data.width > 1000, horizontal: data.width < 1000, active: data.active !== 0}")
    article.post(id="event" ng-class="{active: data.active == 'event'}")
        figure
            .focuspoint.home(id="fp-nextevent" data-focus-x="0" data-focus-y="-0.2")
                img(id='image-nextevent' src='https://scontent-b-lhr.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1960069_807696969282290_967487388133602141_n.jpg?oh=361f2a5b67d34e9ec97eaa8a898ebd6d&oe=55624706' ng-load="loadImage('nextevent')")
        a(href="http://facebook.com/fishontoast" target="_blank")
            figcaption
                h1 Next Event
    .next
        .wrapper
            .grid.row2(ng-class="{horizontal: data.width > 1000, vertical: data.width < 1000}")
                article(ng-repeat="index in data.asides" id="article-{{index.id}}" ng-class="{active: data.active == index.id}" )
                    .wrapper(ng-class="{active: data.active == index.id}")
                        h1 {{index.title}}
                        .brief(ng-bind-html="index.brief | toTrusted")
                        .content(ng-bind-html="index.content | toTrusted")

                        nav
                            material-button.right(ng-click="goto(index.id)" ng-if="data.active != index.id") Read More
                            material-button.right(ng-click="goto()" ng-if="data.active == index.id") Close