&
    background brandbluecolor
    > .content
        perspective 600
        transform translateY(1px)
        position fixed
        top adminnavheight
        bottom 0
        left 0
        right 0

@import "nav"
@import "login"
@import "grid"